* {
	margin: 0;
	padding: 0;
}

body {
	box-sizing: border-box;
	height: 100vh;
    background-color: black;
    color: #F6F6F6;
}

.text-highlight {
	color: #22D4FD;
}

.container {
	display: flex;
	align-items: center;
}